.common__style {
    padding: 29.5px 10px;
}

.content__area label {
font-size: 1.1rem;
font-weight: 600;
}

.form-check-label{
    font-weight: normal !important;
}

.campaign__list{
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-gap: 25px;
    justify-content: center;
}

.campaign__list-details{
    padding: 10px 30px 20px;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 6px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.btn-primary{
    padding: 10px 30px;
}